$dark: #1e1e1e;
$light: #e1e1e1;
$font-text: "Brandon Grotesque";
$font-title: "Garamond", cursive;
$champagne-1: #f6f1f1;
$champagne-2: crimson;
$champagne-3: crimson;
$champagne-4: #f6f1f1;

body {
  background-color: $champagne-1;
}
